<!doctype html>

<html lang="en">

    {% include 'partials/head.twig' %}

    <body >

    {% include 'partials/navigation.twig' %}

        <main class="container-fluid" style="padding-top:30px;">


        </main>
    </body>
</html>